#nosotros-page img {
  width: 95%;
  height: 95%;
  padding: 5px;
}

header {
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 1;
}
header img {
  width: 100px;
  background-color: #6b8e23;
}

#navbarNav.collapse.navbar-collapse {
  justify-content: flex-end;
}

.banner {
  height: 600px;
  background-image: url(../multimedia/banner-2.png);
  background-position: center;
  background-size: cover;
}
.banner h1 a {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  font-size: 40px;
  text-decoration: none;
  color: olivedrab;
}
.banner h1 a:hover {
  color: red;
}
.banner p {
  font-size: 30px;
  text-align: center;
  font-style: oblique;
  animation-name: efecto;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}
@keyframes efecto {
  0% {
    color: red;
  }
  25% {
    color: blue;
  }
  50% {
    color: black;
  }
  75% {
    color: blue;
  }
  100% {
    color: red;
  }
}

.nosotros h2 {
  font-size: 30px;
  font-style: italic;
  padding: 3px;
  text-align: center;
}
.nosotros p {
  font-size: 20px;
  margin: 2px;
}
.nosotros img {
  display: inline-flex;
  align-items: center;
}

.amigos {
  display: flex;
  justify-content: space-evenly;
}

#adoptados-padre, #rescatados-padre {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin: 2px;
  justify-content: center;
  align-items: center;
}

h4 {
  text-align: center;
  font-size: 25px;
}

#enlace {
  text-align: center;
  font-size: 25px;
}

#nosotros-page h1 {
  height: 200px;
  background-image: url(../multimedia/banner-1.png);
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  text-decoration: underline;
}
#nosotros-page h2 {
  font-size: 26px;
  font-weight: lighter;
  text-align: justify;
  align-items: center;
  background-color: #6b8e23;
  padding: 3px;
}
#nosotros-page h2 img {
  width: 95%;
  height: 95%;
  padding: 5px;
}

.adoptados-page h1, .rescatados-page h1 {
  text-decoration: underline;
  font-weight: bold;
}
.adoptados-page h2, .rescatados-page h2 {
  font-weight: lighter;
}
.adoptados-page p, .rescatados-page p {
  font-size: 20px;
  color: red;
}

.rescatados-page img {
  width: 300px;
}

#contacto-page {
  height: 400px;
  background-image: url(../multimedia/banner-3.png);
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  text-shadow: grey;
}
#contacto-page section form {
  font-size: 20px;
}

footer {
  text-align: center;
  background-color: #6b8e23;
  border: 1px solid black;
  padding: 10px;
}
footer a img {
  height: 30px;
}

@media only screen and (max-width: 590px) {
  header {
    flex-direction: column;
    align-items: center;
  }
  nav {
    width: 100%;
  }
  ul a {
    height: 100%;
  }
  .nosotros {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .amigos {
    flex-direction: column;
    align-items: center;
  }
  #nosotros-page {
    flex-direction: column;
    align-items: center;
  }
}/*# sourceMappingURL=estilo.css.map */